<div>
    <form method="post" asp-controller="Home" asp-action="CreateLogin">

        <div>
            <label>Name</label>
            <input type="text" name="Login">
        </div>

        <div>
            <label>Shared Key</label>
            <input type="text" name="SharedKey">
        </div>

        <button type="submit">Create</button>

    </form>
</div>