<div>
    <form method="post" asp-controller="Home" asp-action="CreateLogin">

        <div>
            <label>Name</label>
            <input type="text" name="Login">
        </div>

        <div>
            <label>Shared Key</label>
            <input type="text" name="SharedKey">
        </div>

        <label>Attributes</label>
        @for(var i = 0; i < 3; i++)
        {
            <input type="text" name="Attributes[@i]">
        }

        <button type="submit">Create</button>

    </form>
</div>